{# templates/author/show.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Show Author</title>
</head>
<body>
    <h1>Affichage de l'auteur :</h1>
    <p>Nom de l'auteur : {{ name }}</p>
</body>
</html> 